<h1>My Todo's</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Completed</th>
                <th>Target Date</th>
            </tr>
        </thead>
        <tbody>
            <!--        for (Todo todo : todos)-->
            <tr *ngFor="let todo of todos">
                <td>{{todo.description}}</td>
                <td>{{todo.done}}</td>
                <td>{{todo.targetDate | date}}</td>
            </tr>
        </tbody>

    </table>
</div>